/* styles/style.css */

body {
  background-image: url("./src/images/skyline-city.png");
  background: size 1000%;
  width: max-content;
  background-repeat: no-repeat;
}



canvas {
    border: 1px solid rgb(11, 4, 4);
  }
  







  